body {
  background-color: rgb(160, 156, 156);
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10vw auto;
  width: 260px;
  padding: 30px;
  gap: 0.5rem;
  background-color: rgb(31, 31, 31);
  border-radius: 5px;

  input {
    padding: 7px 12px;
    color: #454545;
  }

  select {
    padding: 7px 12px;
    color: #454545;
  }
}
